.ContainerModalUsuario button {  
  color: white;
  border: solid var(--button);
  border-radius: 5px;
  background-color: var(--button);
  font-weight: 700;
  font-size: 100%;
}

.ContainerModalUsuario {
  display: flex;
  justify-content:space-around;
  flex-direction: column;
}

.ContainerModalUsuario button:hover {
    background-color: var(--hover);
  }

.Close {
  width: 5%;  
  height: 100%;  
  margin-left: 1%;
}

.Confirm {
  width: 20%;  
  height: 40px;
  margin-bottom: 6%;
  margin-left: 1%;
}

.Row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:4%;
}

.Title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:4%;
}

.Title h1 {
  font-size: 2em;
  font-weight: 300;
  color: var(--primary);
}

.Users-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Users-data h1 {
  color: var(--primary);
  font-size: 10px;
}

@media (max-width: 1150px) {
  .Close {
    width: 8%;
  }
  .Confirm {
    margin-bottom: 0;
  }
  .ContainerModalUsuario {
    height: 100%;
  }
  .exit {
    margin: 0;
  }
}

@media (max-width: 920px) {
  .Confirm {
    width: 35%;
  }
}

@media (max-width: 400px) {
  .Close {
    width: 12%;
  }
}

@media (max-width: 260px) {
  .Close {
    width: 20%;
  }
  .Confirm {
    width: 45%;
  }
}
