.AcceptModal-RemoveGroup{
    display:flex;
    align-items:center;
    justify-content:center;
    font-family: Roboto;
    font-size: 100%;
    font-weight: 500;
    border: 0;
    cursor: pointer;
    outline:none;    
    margin-top: 5%;
    margin-bottom: 2%;
    background-color: white;
  }
  
  .AcceptModal-ContainerModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 600px;
    border-radius: 6px;
    background-color: white;
    border: 0.5px solid black;
    box-shadow: 24;
    padding: 4;
  }
  
  .AcceptModal-text{
    display:flex;
    align-items:center;
    justify-content:center;
    width: 100%;
  }
  
  .AcceptModal-Question{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    width:100%;
    font-family:Roboto;
    font-weight: normal;
    font-size: 20px;
    color: black;
    margin-bottom: 7%;
  }
  
  .AcceptModal-Buttons{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    flex-direction: column;
  }
  .buttons{
    display:flex;
    flex-direction: row;
    margin-top: 15px;
  }
  
  .AcceptModal-Bu label{
    font-family:Roboto;
    font-weight: normal;
    font-size: 14px;
    margin: 13px;
  }
  
  .AcceptModal-button22{
    margin-right: 13px;
  }
  
  .AcceptModal-ButtonCancel{
    display:flex;
    height: 30px;
    width: 75px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 500;
    border: solid black;
    border-width: 1px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-bottom: 3%;
    background-color: var(--button);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .AcceptModal-ButtonConfirm{
    display:flex;
    height: 30px;
    width: 75px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 500;
    border: solid black;
    border-width: 1px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-bottom: 3%;
    background-color: var(--button);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .AcceptModal-align{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .AcceptModal-align p {
    color: white;
  }
  
  .AcceptModal-ButtonCancel:hover{
    background-color: var(--primary);
  }
  
  .AcceptModal-ButtonConfirm:hover{
    background-color: var(--primary);
  }
  
  .AcceptModal-RemoveGroup{
    display:flex;
    align-items:center;
    justify-content:center;
    font-family: Roboto;
    font-size: 100%;
    font-weight: 500;
    border: 0;
    cursor: pointer;
    outline:none;    
    margin-top: 5%;
    margin-bottom: 2%;
    background-color: white;
  }
  .buttons34{
    display: flex;
    flex-direction: row;
    margin: 5%;
  }
  .AcceptModal-ContainerModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 45%;
    width: 70vh;
    border-radius: 6px;
    background-color: white;
    border: 0.5px solid black;
    box-shadow: 24;
    padding: 4;
  }
  
  .AcceptModal-text{
    display:flex;
    align-items:center;
    justify-content:center;
    width: 100%;
  }
  
  .AcceptModal-Question{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    font-family:Roboto;
    font-weight: normal;
    font-size: 25px;
    color: black;
    margin-bottom: 7%;
  }
  
  .AcceptModal-Buttons{
    display:flex;
    justify-content:space-between;
    width:100%;
    flex-direction: column;
  }
  label {
    font-size: 14px;
    margin-top: -2.4px;
    padding-left: 5px;
    margin-right: 5px;
    font-family: "Roboto", sans-serif;
  }
  
  .AcceptModal-button22{
    margin-left: 13px;
  }
  
  .AcceptModal-ButtonCancel{
    display:flex;
    height: 6vh;
    width: 15vh;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    border: solid black;
    border-width: 1px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-bottom: 3%;
    background-color: var(--button);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .AcceptModal-ButtonConfirm{
    display:flex;
    height: 6vh;
    width: 15vh;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    border: solid black;
    border-width: 1px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-bottom: 3%;
    background-color: var(--button);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  
  .AcceptModal-align p {
    color: white;
  }
  
  .AcceptModal-ButtonCancel:hover{
    background-color: var(--primary);
  }
  
  .AcceptModal-ButtonConfirm:hover{
    background-color: var(--primary);
  }
  
  .EditModal-Input {
    margin-bottom: 5%;
    margin-top: 1%;
    height: 30px;
    width: 120px;
    background-color: #f0f0f5;
    box-sizing: border-box;
    border-radius: 6px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .AcceptModal-Bu{
  margin: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding-right: 5px;
  margin-right: 5px;
  }
  
  .AcceptModal-Bu select{
  margin-left: 5px;
  }
  
  .AcceptModal-Bu label{
    font-size: 20px;
  }
  
  .AcceptModal-Bu p{
    font-size: 20px;
  }
  @media(max-width: 685px){
    .AcceptModal-ContainerModal{
      height: 50%;
      width: 60%;
    }
  
    .AcceptModal-ButtonConfirm{
      width: 15pvh;
      height: 40px;
    }
  
    .AcceptModal-ButtonCancel{
      width: 15vh;
      height: 40px;
    }
    
  .AcceptModal-Question{
    font-size: 16px;
  }
  
  }
  
  @media(max-width: 470px){
    .AcceptModal-ContainerModal{
      height: 50%;
      width: 70%;
    }
  }
  
  @media(max-width: 685px){
    .AcceptModal-ContainerModal{
      height: 130px;
      width: 350px;
    }
  
    .AcceptModal-ButtonConfirm{
      height: 40px;
      width: 120px;
      font-size: 15px;
    }
  
    .AcceptModal-ButtonCancel{
      height: 40px;
      width: 120px;
      font-size: 15px;
    }
    
  .AcceptModal-Question{
    font-size: 16px;
  }
  .AcceptModal-Bu{
    flex-direction: column;
   }
  
  }
  
  @media(max-width: 495px){
    .AcceptModal-RemoveGroup .css-i4bv87-MuiSvgIcon-root {
      width: 0.75em !important;
      height: 0.75em !important;
    }
  }
  
  @media(max-width: 430px){
   .buttons34{
     flex-direction: column;
   }
   .AcceptModal-button22{
    margin-left: 0px;
  }
  .AcceptModal-button3{
    margin-left: 0px;
  }
  }
  
  @media(max-width: 370px){
    .AcceptModal-ContainerModal{
      height: 130px;
      width: 270px;
    }
  
    .AcceptModal-ButtonConfirm{
      height: 30px;
      width: 100px;
      font-size: 14px;
    }
  
    .AcceptModal-ButtonCancel{
      height: 30px;
      width: 100px;
      font-size: 14px;
    }
    
  .AcceptModal-Question{
    font-size: 14px;
  }
  
  .AcceptModal-Buttons{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    flex-direction: column;
  }
  
  }