  .buttons{
    display: flex;
    flex-direction: row;
    margin: 5%;
  }
  .birthday-search-advanced-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 45%;
    width: 70vh;
    border-radius: 6px;
    background-color: white;
    border: 0.5px solid black;
    box-shadow: 24;
    padding: 4;
  }
  
  .birthday-search-advanced-text{
    display:flex;
    align-items:center;
    justify-content:center;
    width: 100%;
  }
  
  .birthday-search-advanced-title{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    font-family:Roboto;
    font-weight: normal;
    font-size: 25px;
    color: black;
    margin-bottom: 7%;
  }
  
  .birthday-search-advanced-buttons{
    display:flex;
    justify-content:space-between;
    width:100%;
    flex-direction: column;
  }
  label {
    font-size: 14px;
    margin-top: -2.4px;
    padding-left: 5px;
    margin-right: 5px;
    font-family: "Roboto", sans-serif;
  }
  
  .AcceptModal-button2{
    margin-left: 13px;
  }
  
  .AcceptModal-ButtonCancel{
    display:flex;
    height: 6vh;
    width: 20vh;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    border: solid black;
    border-width: 1px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-bottom: 3%;
    background-color: var(--button);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .AcceptModal-ButtonConfirm{
    display:flex;
    height: 6vh;
    width: 20vh;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    border: solid black;
    border-width: 1px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-bottom: 3%;
    background-color: var(--button);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  
  .AcceptModal-align p {
    color: white;
  }
  
  .AcceptModal-ButtonCancel:hover{
    background-color: var(--primary);
  }
  
  .AcceptModal-ButtonConfirm:hover{
    background-color: var(--primary);
  }
  
  .EditModal-Input {
    margin-bottom: 5%;
    margin-top: 1%;
    height: 30px;
    width: 120px;
    background-color: #f0f0f5;
    box-sizing: border-box;
    border-radius: 6px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .birthday-search-buttons-align{
  margin: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding-right: 5px;
  margin-right: 5px;
  }
  
  .birthday-search-buttons-align select{
  margin-left: 5px;
  }
  
  .birthday-search-buttons-align label{
    font-size: 20px;
  }
  
  .birthday-search-buttons-align p{
    font-size: 20px;
  }
  @media(max-width: 685px){
    .birthday-search-advanced-container{
      height: 50%;
      width: 60%;
    }
  
    .AcceptModal-ButtonConfirm{
      width: 75px;
    }
  
    .AcceptModal-ButtonCancel{
      width: 75px;
    }
    
  .birthday-search-advanced-title{
    font-size: 16px;
  }
  
  }
  
  @media(max-width: 470px){
    .birthday-search-advanced-container{
      height: 50%;
      width: 70%;
    }
  }
  