
    .containerbox {
        position: center;
        width: 16.5%;
        padding: 1%;
        margin: 5%;
        margin-bottom: 5%;
        overflow: hidden;
        font-size: 15;
        border-radius: 4px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-color: #F8F8F8;
        }

    .grupbuttonall{
        padding: 10px;
    }

    .grupbutton{
        background-color: #F8F8F8;
    }

    .clickbutton{
        color: var(--fontColor2);
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        
    }

    .grupbutton:hover {
        color: var(--fontColor2);
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }

    @media (max-width: 1120px){
        .containerbox {
            width: 17%;
            padding: 0%;
            margin: 5%;
            }  
    }
    @media (max-width: 1050px){
        .containerbox {
            width: 18%;
            padding: 0%;
            margin: 5%;
            }    
    }
    @media (max-width: 1000px){
        .containerbox {
            width: 21%;
            padding: 0%;
            margin: 5%;
            display: flex;
            }    
    }
    @media (max-width: 900px){
        .containerbox {
            width: 23%;
            padding: 0%;
            margin: 5%;
            }    
    }
    @media (max-width: 780px){
        .containerbox {
            width: 26%;
            padding: 0%;
            margin: 5%;
            }    
    }
    @media (max-width: 680px){
        .containerbox {
            width: 30%;
            margin-left: 35%;
            }    
    }
    @media (max-width: 590px){
        .containerbox {
            width: 35%;
            margin-left: 34%;
            }    
    }
    @media (max-width: 500px){
        .containerbox {
            width: 45%;
            margin-left: 30%;
            }    
    }
    @media (max-width: 415px){
        .containerbox {
            width: 52%;
            margin-left: 25%;
            }    
    }
    @media (max-width: 350px){
        .containerbox {
            width: 57%;
            margin-left: 25%;
            }    
    }
    @media (max-width: 310px){
        .containerbox {
            width: 60%;
            margin-left: 23%;
            }    
    }
    @media (max-width: 290px){
        .containerbox {
            width: 69%;
            margin-left: 18%;
            }    
    }
    @media (max-width: 260px){
        .containerbox {
            width: 79%;
            margin-left: 12%;
            }    
    }
    @media (max-width: 220px){
        .containerbox {
            width: 85%;
            margin-left: 10%;
            }    
    }
    @media (max-width: 210px){
        .containerbox {
            width: 90%;
            margin-left: 6%;
            }    
    }
    @media (max-width: 190px){
        .containerbox {
            width: 100%;
            }    
    }