@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap");

.container-user-module {
    margin-top: 4%;
}

.User-module-search-field{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  width: 50%;
  height: 80%;
}

.Title-user-module-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.container-user-module h1 {
    font-size: 30px;
    color: var(--secondary);
    font-weight: 700;
    font-family: "Roboto", sans-serif;

}