
th,td
{
       border:1px solid #DCDCDC;
}

.container{
       width:300px;
       border-style:solid;
       border-width: 2px;
       background-color: #DCDCDC;

}
.row_group {
       display: table-row-group;
}

.gridContainer{
    background-color: #fff;
    background-image: none;
    opacity: 1;
    filter: alpha(opacity=100);
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 20px 0 20px 0;
    font-size: 13px;
}

.tdContainer{
       padding: 0px;
       vertical-align: top;
       width: 100%;
}

.tableContainer{
       width: 70%;
       position: center;
       margin-left: 15%;
       margin-right: 15%;
       background-color: #f9f9f9;
       margin-top: 2%;
       margin-bottom: 5%;
       border:1px solid #DCDCDC;

}

.tContainer{
       width: 100%;
       padding: 0px;
       border-spacing: 0px;
       border-width: 0px;
}

.tdBox {
       background-color: #fff;
       background-image: none;
       opacity: 1;
       filter: alpha(opacity=100);
       border-color: #d0d0d0;
       border-style: solid;
       border-width: 1px 1px 1px 1px;
       color: #000;
       font-family: Arial, sans-serif;
       font-size: 13px;
       padding: 8px 10px;
       text-decoration: none;
       text-align: left;
       height: "100%"
   }
   .tdTitle {
       background-color: #e7e7e7;
       background-image: none;
       opacity: 1;
       filter: alpha(opacity=100);
       border-color: #d2d2d2;
       border-width: 1px;
       border-style: solid;
       color: #333;
       font-family: Arial, sans-serif;
       font-size: 13px;
       font-weight: bold;
       padding: 5px 4px;
       text-decoration: none;
       text-align: center;
}

.subtitle{
       font-weight: bold;
       vertical-align: top;
}

@media screen {
       
}