.appbar{
    justify-content: space-between;
    width: 100%;
}
.toolbar {
    background-color: #264A6F;
    height: 75px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Dropdown Button */
.dropbtn {
    background-color:  #264A6F;
    color: white;
    padding: 16px;
    font-size: 16px;
    height: 75px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2f5c88;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #3e6a96;}

  .dropbtn:hover {background-color: #31577e;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: none;}

  .iconbutton{
    display: none;
  }
  .sair {
    display: none;
  }

  .toolbar img{
    display: none;
  }

  @media(max-width: 1055px){
    .dropdown{
      display: none;
    }
    .dropbtn {
      display: none;
    }
    .toolbar img{
      display: inline-block;
      justify-content: flex-start;
      /* margin-right: 900px; */
      height: 50px;
      width: 50px;
    }
    .iconbutton{
      color: white;
      position: relative;
      display: inline-block;
      justify-content: flex-start;
    }
    .menuIcon {
      color: white !important;
      padding: 16px;
      font-size: 16px;
      height: 75px;
      border: none;
      margin-right: 80px;
      justify-content: flex-start;
    }
    .sair{
      display: flex;
    }
    .sairicon{
      color: white !important;
    }
      /* Dropdown Content (Hidden by Default) */
  .iconbutton-content {
    display: none;
    position: absolute;
    background-color: #2f5c88;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    align-items: center;
    right: 0;
  }
  
  .iconbutton-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
  }
  .iconbutton-content a:hover {background-color: #3e6a96;}
  .menuIcon:hover {background-color: #31577e;}
  .iconbutton:hover .iconbutton-content {
    display: block;
  }
  .iconbutton:hover .menuIcon {background-color: none;}
  .toolbar {
    align-items: center;
}
  }