.EditModal-model-editGroup{
    display:flex;
    align-items:center;
    justify-content:center;
    font-family: Roboto;
    font-size: 100%;
    font-weight: 500;
    border: 0;
    cursor: pointer;
    outline:none;    
    margin-top: 5%;
    margin-bottom: 2%;
    background-color: white;
  }
  .EditModal-model-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    border-radius: 6px;
    background-color: white;
    border: 0.5px solid black;
    box-shadow: 24;
    padding: 4;
  }

  .EditModal-model-field{
    display:flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    color: black;
    margin-bottom: 2%;
  }
  
  .EditModal-model-title{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    font-family:Roboto;
    font-weight: bold;
    font-size:24px;
    margin-bottom: 5%;
  }
  
  .EditModal-model-text{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    flex-direction: column;
    font-family: Roboto;
    margin-bottom: 1%;
  }
  
  .EditModal-model-buttonConfirm{
    display:flex;
    padding: 1%;
    width: 30%;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    border: solid var(--button);
    border-width: 1px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-bottom: 3%;
    background-color: var(--button);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-top: 3%;
    margin-bottom: 5%;
  }
  
  .EditModal-model-input{
    margin-bottom: 1%;
    margin-top: 1%;
    width: 65%;
    height: 30px;
    background-color: #f0f0f5;
    box-sizing: border-box;
    border-radius: 6px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .EditModal-model-select{
    margin-bottom: 1%;
    margin-top: 1%;
    width: 65%;
    height: 30px;
    background-color: #f0f0f5;
    box-sizing: border-box;
    border-radius: 6px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
  }
  
  .EditModal-model-cancel{
    display: flex;
    align-self: flex-start;
    margin-left: 3%;
    margin-top: 3%;
    cursor: pointer;
  }
  
  .EditModal-model-buttonConfirm:hover{
    background-color: var(--primary);
  }

  .file-upload-remove {
    margin-bottom: 5%;
  }
  
  @media(max-width: 695px){
    .EditModal-model-containerModal{
      height: 370px;
      width: 450px;
    }
  }
  
  @media(max-width: 495px){
    .EditModal-model-containerModal{
      height: 320px;
      width: 380px;
    }
  
    .EditModal-model-cancel{
      margin-top: 2%;
    }
  
    .EditModal-model-title{
      font-size:22px;
    }
  
    .EditModal-model-text{
      font-size: 14px;
    }
    .EditModal-model-buttonConfirm{
      font-size: 14px;
    }
    .EditModal-model-editGroup .css-i4bv87-MuiSvgIcon-root {
      width: 0.75em !important;
      height: 0.75em !important;
    }
  }
  
  @media(max-width: 395px){
    .EditModal-model-containerModal{
      height: 300px;
      width: 270px;
    }
    .EditModal-model-cancel{
      margin-top: 2%;
    }
    .EditModal-model-title{
      font-size:22px;
    }
    .EditModal-model-text{
      font-size: 14px;
    }
    .EditModal-model-buttonConfirm{
      font-size: 14px;
    }
    .EditModal-model-input{
      width: 50%;
    }
    .EditModal-model-select{
      width: 50%;
    }
  }
  