.container-print-associates-page {
  min-height: calc(100vh - 50px);
}

.header-print-icon {
  display: flex;
  align-items: center;
  background-color: var(--header);
  height: 50px;
}

.header-print-icon button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: thin solid transparent;
  color: var(--fontColor1);
  font-size: 17px;
  cursor: pointer;
}

.header-print-icon button:hover {
  justify-content: center;
  background-color: var(--hover);
  border: solid var(--hover);
  height: 100%;
  border-radius: 5px;
  padding: 0 5px;
}

.print-associates-button {
  margin-left: 30px;
}

.return-print-associates-button {
  margin-left: 60px;
}

.print-associates-table {
  margin: 5%;
}

.loader-consult-associates-table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 50px);
}