@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap");

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background:var(--color2);
  border-radius: 30px;
}

.makeStyles-paper-2 {
  overflow-y: scroll;
}

.create-quizz-button {
  font-size: 20px;
  background: var(--secondary);
  border: thin solid var(--secondary);
  border-radius: 5px;
  width: 200px;
  height: 35px;
  margin-top: 20px;
  color: var(--fontColor1);
  font-weight: 700;
  cursor: pointer; 
}

::-webkit-scrollbar-thumb {
  background: var(--color4);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover);
}

.container-modal-quizz button {  
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-button-modal-quizz {
  border: none;
  background-color: transparent;
  margin-bottom: 5%;
  color: var(--color2);
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  width: 60%;
}

.form-modal-quizz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-modal-quizz h1 {
  margin-bottom: 2%;
  color: var(--color2);
  font-size: 20px;
  font-weight: 300;
}

.close-modal-quizz {
  width: 30px;  
  height: 30px;  
  margin-left: 1%;
  background-color: transparent;
  border: none;
}
  
.confirm-button-modal-quizz {
  width: 30%;  
  height: 45px;
  background-color: var(--primary);
  color: var(--fontColor1);
  border: solid var(--primary);
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5%;
}

.confirm-button-modal-quizz:hover {
  background-color: var(--hover);
  border-color: var(--hover);
}

.title-modal-quizz {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
}

.title-modal-quizz h2 {
  text-align: center;
  color: var(--color2);
  font-size: 30px;
  font-weight: 300;
  margin: 0;
}

.last-button-modal-quizz {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.delete-alternative-modal-quizz {
  border: none;
  background-color: transparent;
}

.delete-button-modal-quizz {
  display: flex;
  align-items: baseline;
  justify-content: end;
  width: 10%;
}

.empty-div {
  width:10%;
}

.alternative-inputs-quizz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
  
@media (max-width: 1380px) {
  .create-quizz-button {
    width: 140px;
    height: 30px;
    font-size: 15px;
  }
}
@media (max-width: 1150px) {
  .close-quizz {
    width: 8%;
  }
  .confirm-quizz {
    margin-bottom: 0;
  }
  .container-modal-quizz {
    height: 100%;
  }
  .exit-quizz {
    margin: 0;
  }
  .create-quizz-button {
    width: 140px;
    font-size: 15px;
  }
}

@media (max-width: 1012px) {
  .create-quizz-button {
    height: 25px;
  }
}

  @media (max-width: 1400px) {
    .title-modal-quizz h2 {
      font-size: 20px;
    }
  }
  
  @media (max-width: 920px) {
    .confirm-quizz {
      width: 35%;
    }
  }
  
  @media (max-width: 400px) {
    .close-quizz {
      width: 12%;
    }
  }
  
  @media (max-width: 260px) {
    .close-quizz {
      width: 20%;
    }
    .confirm-quizz {
      width: 45%;
    }
  }
  