.container-modal-enquete button {  
  color: white;
  font-weight: 700;
  font-size: 100%;
}
  
.container-modal-enquete button:hover {
  background-color: var(--hover);
}

.form-enquete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
  
.close-enquete {
  width: 5%;  
  height: 100%;  
  margin-left: 1%;
  background-color: transparent;
  border: none;
}
  
.confirm-enquete {
  width: 20%;  
  height: 40px;
  margin-bottom: 6%;
  margin-left: 1%;
}

.title-modal-enquete {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.title-modal-enquete h1 {
  color: var(--color2);
  font-size: 30px;
  font-weight: 300;
  margin: 0;
}

.MuiFormControl-root {
  margin-top: 20px;
}
  
@media (max-width: 1150px) {
  .close-enquete {
    width: 8%;
  }
  .confirm-enquete {
    margin-bottom: 0;
  }
  .container-modal-enquete {
    height: 100%;
  }
  .exit-enquete {
    margin: 0;
  }
}
  
  @media (max-width: 920px) {
    .confirm-enquete {
      width: 35%;
    }
  }
  
  @media (max-width: 400px) {
    .close-enquete {
      width: 12%;
    }
  }
  
  @media (max-width: 260px) {
    .close-enquete {
      width: 20%;
    }
    .confirm-enquete {
      width: 45%;
    }
  }
  