.RemoveModal-RemoveGroup{
  display:flex;
  align-items:center;
  justify-content:center;
  font-family: Roboto;
  font-size: 100%;
  font-weight: 500;
  border: 0;
  cursor: pointer;
  outline:none;    
  margin-top: 5%;
  margin-bottom: 2%;
}
.RemoveModal-paper {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #609694;
}

.RemoveModal-ContainerModal{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  width:100%;
  height: 100%;
}

.RemoveModal-Row{
  display:flex;
  align-items:center;
  justify-content:center;
  width: 100%;
}

.RemoveModal-TitleModal{
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  font-family:Roboto;
  font-weight: normal;
  font-size:24px;
  color:white;
  margin-bottom: 5%;
}

.RemoveModal-Ajust{
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  flex-direction: column;
}

.RemoveModal-ButtonCancel{
  display:flex;
  height: 55px;
  width: 200px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  align-items: center;
  transform: translate(0%,-50%);
  justify-content: center;
  text-align: center;
  cursor: pointer;
  margin-bottom: 3%;
}
.RemoveModal-ButtonConfirm{
  display:flex;
  height: 55px;
  width: 200px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  align-items: center;
  transform: translate(0%,-50%);
  justify-content: center;
  text-align: center;
  cursor: pointer;
}