.RemoveModal-RemoveGroup{
  display:flex;
  align-items:center;
  justify-content:center;
  font-family: Roboto;
  font-size: 100%;
  font-weight: 500;
  border: 0;
  cursor: pointer;
  outline:none;    
  margin-top: 5%;
  margin-bottom: 2%;
  background-color: white;
}

.RemoveModal-ContainerModal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 180px;
  width: 450px;
  border-radius: 6px;
  background-color: white;
  border: 0.5px solid black;
  box-shadow: 24;
  padding: 4;
}

.RemoveModal-text{
  display:flex;
  align-items:center;
  justify-content:center;
  width: 100%;
}

.RemoveModal-Question{
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  font-family:Roboto;
  font-weight: normal;
  font-size: 20px;
  color: black;
  margin-bottom: 7%;
}

.RemoveModal-Buttons{
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:100%;
  flex-direction: row;
}

.RemoveModal-button1{
  margin-left: 13px;
}

.RemoveModal-button2{
  margin-right: 13px;
}

.RemoveModal-ButtonCancel{
  display:flex;
  height: 55px;
  width: 200px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  border: solid black;
  border-width: 1px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  margin-bottom: 3%;
  background-color: #264A6F;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.RemoveModal-ButtonConfirm{
  display:flex;
  height: 55px;
  width: 200px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  border: solid black;
  border-width: 1px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  margin-bottom: 3%;
  background-color: #264A6F;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.alinhar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.RemoveModal-ButtonCancel:hover{
  background-color: #1f4061;
}

.RemoveModal-ButtonConfirm:hover{
  background-color: #1f4061;
}