.EditModal-model-field {
    display:flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    color: black;
    margin-bottom: 2%;
}

.EditModal-model-text{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    flex-direction: column;
    font-family: Roboto;
    margin-bottom: 1%;
}