.intranet-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10%;
  min-height: calc(100vh - 221px);
}

.intranet-dashboad-quizzes {
  padding: 75px 0;
  width: 70%;
}

.intranet-dashboad-associados {
  padding: 75px 0;
  width: 80%;
}

.intranet-side-menu {
  padding: 150px 0;
}

@media (max-width: 1200px) {
  .intranet-dashboad-quizzes {
    padding: 75px 0;
  }
  .intranet-dashboad-associados {
    padding: 75px 0;
  }
}

@media (max-width: 970px) {
  .intranet-dashboad-quizzes {
    padding: 75px 0 0 20px;
  }
  .intranet-dashboad-associados {
    padding: 75px 0 0 20px;
  }
  .intranet-main-container {
    padding: 0 50px;
  }
}

@media (max-width: 800px) {
  .intranet-dashboad-quizzes {
    width: 65%;
  }
  .intranet-dashboad-associados {
    width: 65%;
  }
}

@media (max-width: 650px) {
  .intranet-main-container {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .intranet-side-menu {
    padding: 70px 0;
  }

  .intranet-dashboad-quizzes {
    padding: 0 10% 5%;
    width: 100%;
  }
  .intranet-dashboad-associados {
    padding: 0 10% 5%;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .intranet-dashboad-quizzes {
    padding: 0;
  }
  .intranet-dashboad-associados {
    padding: 0;
  }

  .intranet-main-container {
    padding: 0 5%;
  }
}
