.intranet-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10% 0 10%;
  min-height: calc(100vh - 221px);
}

.intranet-dashboad-quizzes {
  width: 100%;
  padding: 75px 0;
  width: 70%;
}

.intranet-side-menu {
  padding: 150px 0;
}

.intranet-right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1200px) {
  .intranet-dashboad-quizzes {
    padding: 75px 50px;
  }
}

@media (max-width: 970px) {
  .intranet-dashboad-quizzes {
    padding: 75px 0 0 20px;
  }
  .intranet-main-container {
    padding: 0 50px;
  }
}

@media (max-width: 650px) {
  .intranet-main-container {
    flex-direction: column;
    justify-content: center;
  }

  .intranet-side-menu {
    padding: 100px 0;
  }

  .intranet-dashboad-quizzes {
    padding: 0 10% 5% 10%;
    width: 100%;
  }
}
